@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Saira');

html, body, #root{
    height: 100%;
    background-image: url("images/rools_Background.jpg");
    background-size: cover;
    font-family: 'Saira', sans-serif;
}
.v-center{
    max-width:100%;
    max-height:100%;
    overflow:auto;
    background: rgba(0, 0, 0, 0.514);
    position:absolute;
    margin:auto;
    top:0;
    bottom:0; 
    right:0;
    left:0;
    box-shadow: 0px 0px 35px 7px rgba(255, 255, 255, 0.308);
    border-radius: 10px;
}
.tall{
    width:35%;
    height: 50%;
}
.tall2{
    width:35%;
    height: 56%;
}
@media (max-width: 992px) {
    .tall{
        width: 88%;
        height: 55%;
    }
    .tall2{
        width: 88%;
        height: 60%;
    }
    @media (max-width: 768px) {
        .tall{
            width: 88%;
            height: 55%;
        }
        .tall2{
            width: 88%;
            height: 62%;
        }
    }
}
.innerBox{
    position:relative;
    top:0;
    bottom:0; 
}
.form-title{
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 11%;
}
form{
    width: 90%;
    margin: 0 auto;
}
form.login input[type="text"], form.login input[type="password"]{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0px;
    color: #FFFFFF;
    text-align: center;
}
::placeholder { 
    color: rgba(255, 255, 255, 0.637);
}
.btn-login, .btn-register, .btn-signUp, .btn-cancel{
    width: 100%;
    font-size: 14px;
    margin-top: 16px;
    letter-spacing: 1px;
}
.btn-login{
    background: rgb(18, 109, 7);
    color:white;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-register, .btn-signUp{
    background: rgb(11, 2, 128);
    color:white;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
button[disabled], html input[disabled] {
   cursor: pointer;
}
.btn-cancel{
    background: rgb(155, 3, 3);
    color:white;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-login:hover{
    background: rgb(3, 180, 3);
}
.btn-register:hover, .btn-signUp:hover{
    background: rgb(14, 61, 216);
}
.btn-cancel:hover{
    background: rgb(216, 4, 4);
}
.btn-register:focus,.btn-login:focus,.btn-cancel:focus {
    outline: none;
}
/**Navbar Section below---------------------------------------------------*/
.welcome{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-family: 'Saira', sans-serif;
}
a{
    color: #ffffff;
    text-decoration: none;
}

a:hover {color:rgb(255, 255, 255);}  /* mouse over link */

.navbar-text {
    color: #ffffff;
    font-size: 29px;
    margin: 3px auto 0px;
}
.navbar{
    background: rgb(1, 2, 26);
    margin:0px;
}
.nav-icon-1{
    color: rgb(16, 30, 230);
    margin: 14px 10px 0px;
}
.nav-icon-2{
    color: rgb(182, 3, 3);
    margin: 14px 10px 0px;
}
.nav-icon-3{
    color: rgb(243, 228, 24);
}
.nav-icon-4{
    color: white;
    font-size: 20x;
    background: navy;
    margin-top: 7px;
}
.navbar-right{
    margin: 0px;
}
.sub-title{
    font-family: 'Saira', sans-serif;
    text-align: center;
    color: white;
}
/**Navbar Section above---------------------------------------------------*/

/*Main display CSS below--------------------------------------------------*/
.dateBlock{
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 25px 0px;
}
.date{
    margin:0px 30px;
}
.dateButton{
    background: none;
}
.mainBackground{
    background: rgb(43, 46, 85);
    min-height: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(1, 2, 26);
    color: white;
    text-align: center;
    height: 18px;
    font-size: 12px;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 16px;
    float: left;
}
.container .jumbotron, .container-fluid .jumbotron{
    padding: 10px;
}
.eCard{
    background: linear-gradient(rgb(143, 3, 3), rgb(70, 4, 4));
}
.gCard{
    background: linear-gradient(rgb(9, 27, 189), rgb(3, 4, 58));
}
.iCard{
    background: linear-gradient(rgb(3, 112, 13), rgb(2, 54, 2));
}
.rCard{
    background: linear-gradient(rgb(177, 180, 6), rgb(47, 48, 0));
}
.eCard, .gCard, .iCard, .rCard {
    box-shadow: 0px 0px 45px 7px rgba(0,0,0,0.75);
}
.e-Icon, .g-Icon, .i-Icon, .r-Icon, .m-Icon, .u-Icon{
    height: 64px;
    width: 64px;
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
    margin-right: 10px;
    display: block;
    float: left;
    outline: none;
    background-size: cover;
}
.e-Icon{
    background-image: url("images/electricity.png");
}
.g-Icon{
    background-image: url("images/fire.png");
}
.i-Icon{
    background-image: url("images/wifi.png");     
}
.r-Icon{
    background-image: url("images/house.png");
}
.m-Icon{
    background-image: url("images/money.png");
    margin: 10px 0px 0px 18px;
}
.u-Icon{
    background-image: url("images/user.png");
    height: 60px;
    width: 60px;
}
.e-Icon:hover, .g-Icon:hover, .i-Icon:hover, .r-Icon:hover{
    opacity: 0.70;
}
.clear{
    clear: left;
    margin-bottom: 10px;
}
/*Main display CSS above--------------------------------------------------*/