@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body{
    height: 100%;
    background-image: url("images/rools_Background.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}
.v-center{
    max-width:100%;
    max-height:100%;
    overflow:auto;
    background: rgba(0, 0, 0, 0.514);
    position:absolute;
    margin:auto;
    top:0;
    bottom:0; 
    right:0;
    left:0;
}
.tall{
    width:35%;
    height: 50%;
}
.tall2{
    width:35%;
    height: 56%;
}
@media (max-width: 992px) {
    .tall{
        width: 88%;
        height: 55%;
    }
    .tall2{
        width: 88%;
        height: 60%;
    }
    @media (max-width: 768px) {
        .tall{
            width: 88%;
            height: 55%;
        }
        .tall2{
            width: 88%;
            height: 62%;
        }
    }
}
.innerBox{
    position:relative;
    top:0;
    bottom:0; 
}
.form-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 11%;
}
form{
    width: 90%;
    margin: 0 auto;
}
form.login input[type="text"], form.login input[type="password"]{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0px;
    color: #FFFFFF;
    text-align: center;
}
::placeholder { 
    color: rgba(255, 255, 255, 0.637);
}
.btn-login, .btn-register, .btn-signUp, .btn-cancel{
    width: 100%;
    font-size: 14px;
    margin-top: 16px;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
}
.btn-login{
    background: rgb(18, 109, 7);
    color:white;
}
.btn-register, .btn-signUp{
    background: rgb(11, 2, 128);
    color:white;
}
.btn-cancel{
    background: rgb(155, 3, 3);
    color:white;
}
.btn-login:hover{
    background: rgb(3, 180, 3);
}
.btn-register:hover, .btn-signUp:hover{
    background: rgb(14, 61, 216);
}
.btn-cancel:hover{
    background: rgb(216, 4, 4);
}
.btn-register:focus,.btn-login:focus,.btn-cancel:focus {
    outline: none;
}
/**Navbar Section below---------------------------------------------------*/
.welcome{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 7px auto 0;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.navbar-text {
    color: #ffffff;
    font-size: 29px;
    margin: 7px auto 0px;
}
.navbar{
    background: black;
    margin:0px;
}
.nav-icon-1{
    color: rgb(16, 30, 230);
}
.nav-icon-2{
    color: rgb(182, 3, 3);
}
.nav-icon-3{
    color: rgb(243, 228, 24);
}
.nav-icon-4{
    color: white;
    font-size: 20x;
}
.navbar-right{
    margin: 0px;
}
.sub-title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
}
/**Navbar Section above---------------------------------------------------*/

/*Main display CSS below--------------------------------------------------*/
.date{
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 25px 0px;
}
.mainBackground{
    background: rgb(62,55,79);
}
.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.eCard{
    background: linear-gradient(rgb(143, 3, 3), rgb(70, 4, 4));
}
.gCard{
    background: linear-gradient(rgb(3, 17, 143), rgb(3, 4, 58));
}
.iCard{
    background: linear-gradient(rgb(3, 112, 13), rgb(2, 54, 2));
}
.rCard{
    background: linear-gradient(rgb(177, 180, 6), rgb(47, 48, 0));
}
.eCard, .gCard, .iCard, .rCard {
    box-shadow: 0px 0px 45px 7px rgba(0,0,0,0.75);
}
/*Main display CSS above--------------------------------------------------*/